header {
    background-color: #161616;
    color: #fff;
    margin-bottom: 58px;
}

.sign {
    padding: 6px 16px; 
    border: 1px solid rgba(59, 59, 59, 0.986); 
    border-radius: 12px;
    font-size: 14px;
}